node_modules/
dist/
dist-electron/
release/
.DS_Store
*.log
.env
.env.local
public/foxit-lib
public/foxit-external
public/foxit-font-source.json
public/license-key.js
.vscode/
.idea/
*.exe
*.dmg
*.blockmap
*.AppImage
